body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  color:@black;
  font-size:@fontsize;
  font-family: @fontfamily;
  font-weight: @fontweight;
}
.container{
  width: @container-lg;
  margin: 0px auto;
  padding: @margins;

  &__inner{
    padding:0px 15px;
  }
}

.homecontent__left{ width:340px; float:left; margin-right: 42px; }
.homecontent__right{ width:748px;float:right; }
.homecontent { margin-top: 42px; }
.clearfix{ clear:both; }
